#{extends 'main.html' /}
#{set 'title'}
	NavalWarfare - ${user}
#{/set}
    #{form @Admin.addUser() }   
    <span class="order">New game</span>
	<br/>
	<fieldset>
	<legend>Edit game</legend>
    <label>Name</label>
    <input type="text" class="forminput" name="name" value=""/><br/>
    <label>Email</label>
    <input type="text" class="forminput" name="email" value=""/><br/>
	<label>password</label>
    <input type="password" class="forminput" name="password" value=""/><br/>   
    <input class="mainbutton" type="submit" name="submit" value="Add" />
    </fieldset>
    #{/form}
