#{extends 'main.html' /}
#{set 'title'}
	NavalWarfare - ${user}
#{/set}
    #{form @Admin.updateShip() }   
	<br/>
	
	<fieldset>
	<legend>Edit ship</legend>
    <label>Name</label>
    <input type="text" name="name" value="${ship?.name}"/><br/>
    <label>Type</label>
    <input type="text" name="type" value="${ship?.type}"/><br/>
    <input type="hidden" name="id" value="${ship?.id}"/><br/>
    <input class="mainbutton" type="submit" name="submit" value="Save" />
    </fieldset>
	<br/>
	#{/form}