#{extends 'main.html' /}
#{set title:'Naval warfare' /}

<center>
<table width="500px">
<tr>
	<td width="250px">
		<p><em>Navalwarfare</em> is an easy way to play naval battle. Now you dont have to remember passwords, login directly using your
		Google account. Navalwarfare uses <a href="http://en.wikipedia.org/wiki/OpenID" rel="nofollow" target="_blank">OpenID</a> to authenticate users. It's safe and we do not store your login information.
		</p>
	</td>
	<td width="250px" align="right">
		<div id="welcome">
			<a href="@{Application.login()}">Login using your Google Account</a>
		</div>
	</td>
</tr>
</table>
</center>

