<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}

    </head>
    <body>
		<div id="pagewidth" >
			<div id="headerbar">
				<div id="headercol">
					<div id="logo">
						<h3><a href="/">NavalWarfare</a></h3>
					</div>
					<div id="headerlink">
						#{if user}
								${user} <span class="sep">|</span> <a href="@{Application.logout()}">Logout</a>
								<span class="sep">|</span>
						#{/if}
						#{else}
							<a href="@{Application.login()}">Login</a>
							<span class="sep">|</span>
						#{/else}
					</div>
				</div>
			</div>
			<div id="wrapper" class="clearfix">
					<div id="maincol">
						#{if flash.error}
							<p class="error">${flash.error}</p>
						#{/if}
						#{if flash.success}
							<p class="success">${flash.success}</p>
						#{/if}
				        #{doLayout /}
					</div>
			</div>
			<div id="footer">
				<p> Copyright &copy; ${new Date().format('yyyy')}
 					<a href="http://eazybookmark.appspot.com">NavalWarfare</a> </p>
			</div>
		</div>
    </body>
</html>
